<form action="addrecord/" method="post">
    {% csrf_token %}
   <div class="form-group">
     department:
    <input class="form-control" name="department">
    
    role:
    <input class="form-control" name="role">
    
    topic:
    <input class="form-control" name="topic">
    
    question:
    <input class="form-control" name="question">
    
    answeroption:
    <input class="form-control" name="answeroption">
    
    a:
    <input class="form-control" name="a">
    
    b:
    <input class="form-control" name="b">
    
    c:
    <input class="form-control" name="c">
    
    d:
    <input class="form-control" name="d">
    
    <input type="submit" class="form-control" value="Submit">
    
   
    </div> 
</form>