<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>

</head>
<style>
  body{
    background-color: rgb(63, 202, 202);
    float: calc();
    text-align: center;
    margin-top: 130px;
    padding-left:10px;
  }  
  .out{
  width: 300px;
  height: 200px;
  outline: 1px solid black;
  animation: mymove 5s infinite;
  float: calc();
  margin-left: 489px;
  max-height: fit-content;
 outline: 15px solid rgb(42, 106, 128);
  }
  button{
   
    background-color: aqua;
  }
</style>

<body>
<div class="out">
    <label for="Depart">Choose a Departments:</label>
    <select name="IT " id="it">
  <option value="IT">IT</option>
  <option value="ACCOUNTS">ACCOUNTS</option>
  <option value="SALES">SALES</option>
    </select><br><br>

    &nbsp;&nbsp;<label for="role">Role:</label>
    <select> 
    <option value="DEVELOPER">DEVELOPER</option>
    <option value="ACCOUNTANT">ACCOUNTANT</option>
    <option value="MARKETING">MARKETING</option>
</select><br><br>

<label>Topic:</label><br><br>

<div class="dropdown" data-control="checkbox-dropdown">
 
  <div class="dropdown-list">
  
    
    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="Selection 1" />
  Python
    </label>
    
    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="Selection 2" />
    Accountance
    </label>
    
    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="Selection 3" />
   Client and support
    </label><br><br>
    
  <a href="Test.html" ><button>SUBMIT</button></a>  
  <!-- <input type="submit" value="Validate" onclick="return Validate()" /> -->

  </div>
</div>
  </div>  
</body>
<script>

</script>
</html>