{% extends "base.html" %}
{% block content %}
<html>
<body>   
<form action ="{% url 'filter'%}">
    

<select name = "department">
    <option disabled="true" selected>-- Choose the Department --</option>
    <option>IT</option>
    <option>ACCOUNTS</option>
    <option>SALES</option>
</select>
<select name = "topic">
    <option disabled="true" selected>-- Topic --</option>
    <option>PYTHON</option>
    <option>ACCOUNTANCY</option>
    <option>PRODUCT AWARENESS</option>
</select>
<div>
    <select name = "role">
        <option disabled="true" selected>-- Role --</option>
        <option>DEVELOPER</option>
        <option>ACCOUNTANT</option>
        <option>MARKETING</option>
    </select>

</div>  
    
     <input type="submit" value="click"> 
 

</form> 
</body>

</html>
{% endblock %}