
<html>
<body>   
<form action ="{% url 'filter'%}">
    

<select name = "department">
    <option disabled="true" selected>-- Choose the Department --</option>
    <option>It</option>
    <option>Accounts</option>
    <option>Sales</option>
</select>
<select name = "topic">
    <option disabled="true" selected>-- Topic --</option>
    <option>Developer</option>
    <option>Accounts</option>
    <option>Marketing</option>
</select>
<div>
    <input name ="role">
    <input type="checkbox" name="python">python 
    <input type="checkbox" name="Accountant">Accountant
    <input type="checkbox" name="Client and marketing">Client and support

</div>
    
     <input type="submit" value="click"> 
 

</form> 
</body>

</html>