{% extends "base.html"%}

    {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <div>Time left = <span id="timer"></span></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <style>
        .test-item {
            text-align: center;
            border-style: solid;
            border-width: thin;
            width: 50%;
            margin: auto;
        }

        .page-links {
            color: rgb(10, 10, 10); 
            text-align: center;
            margin: auto;
            width: 50%
            
        }

        h2 {
            text-align: center;
        }
      
    </style>
</head>
<body>
    <h2>Total Number of questions: {{ count }}</h2>
    <h2>Page Number: {{ page.number }}</h2>

    {% for test in page.object_list %}
    <div class="test-item">{{ test.id }} .

        
        {{ test.question }}<br>    
        <select>
       <option>A.{{ test.a }}</option><br>
        <option>B.{{ test.b }}</option><br>
        <option>C.{{ test.c }}</option><br>
        <option>D.{{ test.d }}</option><br>
        </select>    
        </div> <br>
    {% endfor %}

    <div class="page-links">
        {% if page.has_previous %}
        <a href="{% url 'test' %}?page={{ page.previous_page_number }}">Previous Page</a>
        {% endif %}
        {% if page.has_next %}
        <a href="{% url 'test' %}?page={{ page.next_page_number }}">Next Page</a>
        {% endif %}
    </div>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
     </div>
</body>
<script>
    let start=document.getElementById('timer').innerHTML = 15 + ":" + 10;
    startTimer();


function startTimer() {
  var presentTime = document.getElementById('timer').innerHTML;
  var timeArray = presentTime.split(/[:]+/);
  var m = timeArray[0];
  var s = checkSecond((timeArray[1] - 1));
  if(s==59){m=m-1}
  if(m<0){
    return
  }
  
let stop = document.getElementById('timer').innerHTML =
    m + ":" + s;
  console.log(m)
  stoptime = setTimeout(startTimer,900);
  
}

function checkSecond(sec) {
  if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
  if (sec < 0) {sec = "59"};
  return sec;
}
function cleartime(){
  clearTimeout(stoptime);
}
</script>
</html>
{% endblock %}