{% block content %} 

{% load crispy_forms_tags %}      
<div class="container py-5">
    <head>
 <style>   
 button{
        background-color: #0066cc;
        color:rgb(244, 233, 233);
        }
  
 form{
     padding-left: 500px;
}
h1{
 padding-left:530px;
}
p{
 padding-left: 450px;
}
.reg{
    margin-top: 5em;
}
h1{
    padding-right: 10em;
}
</style>
</head>

<div class="reg">
    <h1>Register</h1><br>
    <form method="POST" autocomplete="off">
            
	<form method="POST" autocomplete="off">
        {% csrf_token %}
		{{ register_form|crispy }}     
        {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert"></a>
               {{ message }}
        </div><br>
    
 {% endfor %} 
                
    
        <label>username*</label><br>
        <input type="text" name="name" required><br><br>
        <!-- <p class="p1">Required .120 characters of fewer. Letters,digits and @/./+/-/_ only.</p> -->
        <label>Email_id*</label><br>
        <input type="email" name="email"required><br><br>
        <label>Password*</label><br>
        <input type="password" name="password1"required><br><br>
        <label>Password Confirmation*</label><br>
        <input type="password" name="password2"required><br>
        <ul>
        <li>Your password can't be too similar to your personal information.</li>
         <li>Your password must contain at least 8 characters.</li>
         <li>Your password can't be a commonly used password.</li>
         <li>Your password can't be entirely numeric.</li>
         </ul>
	   &nbsp;&nbsp;&nbsp; <button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
</div>

{% endblock %}